weechat/.weechat/logs
weechat/.weechat/python
weechat/.weechat/perl
weechat/.weechat/ruby
weechat/.weechat/lua
weechat/.weechat/tcl
weechat/.weechat/guile
weechat/.weechat/javascript
weechat/.weechat/php
weechat/.weechat/xfer
weechat/.weechat/weechat.log
