[user]
    name =  "Mike Pruett"
    email = "mikepruett3@gmail.com"

{{ if eq .chezmoi.os "windows" -}}
# Windows Credential Manager
[credential]
	helper = C:/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- end }}

[credential "https://git.torafuma.com"]
	username = "mikepruett3@gmail.com"
	provider = generic

[http "https://git.torafuma.com"]
	sslVerify = false

[http "https://refresh_token.git.torafuma.com"]
	sslVerify = false
