[user]
    name =  {{ .name | quote }}
    email = {{ .email | quote }}

{{ if eq .chezmoi.os "windows" -}}
# Windows Credential Manager
[credential]
	helper = C:/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- end }}
{{ if eq .chezmoi.os "linux" -}}
# Linux Credential Manager
[credential]
	helper = /usr/bin/git-credential-manager
	credentialStore = gpg
{{- end }}

credential.interactive=auto

[credential "https://git.torafuma.com"]
	username = "mikepruett3@gmail.com"
	provider = generic

[credential "http://fw1-p-tfs02.faps.net:8080"]
	provider = generic

[credential "http://fw1-p-tfs02:8080"]
	provider = generic

[http "https://git.torafuma.com"]
	sslVerify = false

[http "https://refresh_token.git.torafuma.com"]
	sslVerify = false

[safe]
    directory = *

[protocol "file"]
	allow = always
