{{ if eq .chezmoi.os "windows" -}}
@ECHO OFF

REM %USERPROFILE%\.bootstrap\windows\setup.bat hash: {{ include "dot_bootstrap/windows/setup.bat" | sha256sum }}

START /WAIT "BootStrapping System" CMD /C %USERPROFILE%\.bootstrap\windows\setup.bat

{{- end }}