{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

# .bootstrap/setup.yml hash: {{ include "dot_bootstrap/sudo.yaml" | sha256sum }}
if command -v ansible-playbook &> /dev/null; then
    ansible-galaxy install -r {{ joinPath .chezmoi.sourceDir "dot_bootstrap/requirements.yaml" | quote }}
    ansible-playbook -v {{ joinPath .chezmoi.sourceDir "dot_bootstrap/sudo.yaml" | quote }} --ask-become-pass
fi

# .bootstrap/setup.yml hash: {{ include "dot_bootstrap/setup.yaml" | sha256sum }}
if command -v ansible-playbook &> /dev/null; then
    ansible-galaxy install -r {{ joinPath .chezmoi.sourceDir "dot_bootstrap/requirements.yaml" | quote }}
    ansible-playbook -v {{ joinPath .chezmoi.sourceDir "dot_bootstrap/setup.yaml" | quote }} #--ask-become-pass
fi
{{- else if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# .bootstrap/setup.yml hash: {{ include "dot_bootstrap/setup.yaml" | sha256sum }}

if command -v ansible-playbook &> /dev/null; then
    ansible-galaxy install -r {{ joinPath .chezmoi.sourceDir "dot_bootstrap/requirements.yaml" | quote }}
    ansible-playbook -v {{ joinPath .chezmoi.sourceDir "dot_bootstrap/setup.yaml" | quote }} #--ask-become-pass
fi
{{- end }}
