{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

OS="$(uname -s)"
case "${OS}" in
    Linux*)
        if [ -f /etc/redhat-release ]; then
            sudo dnf install -y ansible
        elif [ -f /etc/lsb-release ]; then
            sudo apt-get update
	        sudo apt-get install -y ansible
        elif [ -f /etc/debian_version ]; then
            sudo apt-get update
	        sudo apt-get install -y ansible
        elif [ -f /etc/manjaro-release ]; then
            sudo pamac update
            sudo pamac install ansible
        else
            echo "Unsupported Linux distribution"
            exit 1
        fi
        ;;
    *)
        echo "Unsupported operating system: ${OS}"
        exit 1
        ;;
esac

ansible-playbook -v ~/.bootstrap/setup.yaml --ask-become-pass

echo "Ansible installation complete."

{{- else if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

OS="$(uname -s)"
case "${OS}" in
    Darwin*)
        brew install ansible
        ;;
    *)
        echo "Unsupported operating system: ${OS}"
        exit 1
        ;;
esac

ansible-playbook -v ~/.bootstrap/setup.yaml --ask-become-pass

echo "Ansible installation complete."
{{- end }}