{{ if eq .chezmoi.os "windows" -}}
REM .bootstrap\setup.bat hash: {{ include "dot_bootstrap/setup.bat" | sha256sum }}

@ECHO OFF

START "BootStrapping System" /I /WAIT /B "%USERPROFILE%\.bootstrap\setup.bat"
{{- end }}