{{ if eq .chezmoi.os "windows" -}}
@ECHO OFF

REM %USERPROFILE%\.bootstrap\setup.bat hash: {{ include "dot_bootstrap/setup.bat" | sha256sum }}

START "BootStrapping System" /I /WAIT %USERPROFILE%\.bootstrap\setup.bat

{{- end }}