{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

source /etc/os-release

case "$ID" in
    cachyos | arch)
        #sudo pacman -Syu
        sudo pacman --noconfirm -S ansible
        ;;
    redhat)
        sudo dnf install -y ansible
        ;;
    ubuntu | debian)
        sudo apt-get update
	    sudo apt-get install -y ansible
        ;;
    *)
        echo "Unsupported operating system: ${OS}"
        exit 1
        ;;
esac

ansible-playbook -v ~/.bootstrap/setup.yaml --ask-become-pass

echo "Ansible installation complete."

{{- else if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

OS="$(uname -s)"
case "${OS}" in
    Darwin*)
        brew install ansible
        ;;
    *)
        echo "Unsupported operating system: ${OS}"
        exit 1
        ;;
esac

ansible-playbook -v ~/.bootstrap/setup.yaml --ask-become-pass

echo "Ansible installation complete."
{{- end }}