// -*- mode: jsonc -*-
{
    // "layer": "top", // Waybar at top layer
    // "position": "bottom", // Waybar position (top|bottom|left|right)
    "height": 30, // Waybar height (to be removed for auto height)
    // "width": 1280, // Waybar width
    "spacing": 4, // Gaps between modules (4px)
    // Choose the order of the modules
    "include": [
        "~/.config/waybar/conf/backlight.json",
        "~/.config/waybar/conf/batteries/{{- .chezmoi.hostname -}}.json",
        "~/.config/waybar/conf/clock.json",
        "~/.config/waybar/conf/cpu.json",
        "~/.config/waybar/conf/idle_inhibitor.json",
        "~/.config/waybar/conf/memory.json",
        "~/.config/waybar/conf/network.json",
        "~/.config/waybar/conf/power-profiles-daemon.json",
        "~/.config/waybar/conf/power.json",
        "~/.config/waybar/conf/audio/{{- .chezmoi.hostname -}}.json",
        "~/.config/waybar/conf/temperatures/{{- .chezmoi.hostname -}}.json",
        "~/.config/waybar/conf/tray.json",
        "~/.config/waybar/conf/workspaces/{{- .chezmoi.hostname -}}.json",
    ],
    "modules-left": [
        "hyprland/workspaces",
        "hyprland/submap"
    ],
    "modules-center": [
        "hyprland/window"
    ],
    "modules-right": [
        "mpd",
        "idle_inhibitor",
        "pulseaudio",
        "network",
        "power-profiles-daemon",
        "cpu",
        "memory",
        "temperature",
        "backlight",
        //"keyboard-state",
        //"hyprland/language",
        "battery",
        "clock",
        "tray",
        "custom/power"
    ],
}
