{{- if eq .chezmoi.hostname "broly" }}
profile {
	output eDP-1 disable
	output "Dell Inc. DELL P2311H WKFYR12A070S" mode 1920x1080@60Hz position 0,0 scale 1
	output "Dell Inc. DELL P2311H KKJMT1691H9L" mode 1920x1080@60Hz position 1920,0 scale 1
}

profile {
	output eDP-1 enable scale 1
}
{{ else if eq .chezmoi.hostname "goku" }}
profile {
	output HDMI-A-2 mode 1920x1080@60Hz position -1920,0 scale 1
	output HDMI-A-1 mode 1920x1080@165Hz position 0,0 scale 1
	output DP-1 mode 1920x1080@60Hz position 1920,0 scale 1
}
{{ end -}}
