[Desktop Entry]
Name={{ name }}
Comment={{ comment }}
GenericName={{ name }}
Path={{ path }}
Exec={{ exec }} {{ options }} %U
Icon={{ icon }}
Terminal={{ terminal }}
Type={{ type }}
StartupNotify={{ startupnotification }}
Categories=GNOME;GTK;Utility;