[Desktop Entry]
Name=YouTube Desktop
Comment=A simple YouTube Desktop application, built using Electron.js
GenericName= YouTube Desktop
Path=/home/{{ remote_regular_user }}/Apps/
Exec=YouTube.Desktop-1.0.4.AppImage -enable-features=WaylandWindowDecorations --ozone-platform-hint=auto %U
Icon=youtube-desktop
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;