[Desktop Entry]
Name=Vesktop
Comment=A custom Discord desktop app
GenericName=Vesktop
Path=/home/mpruett/Apps/
Exec=Vesktop-1.5.3.AppImage -enable-features=WaylandWindowDecorations --ozone-platform-hint=auto %U
Icon=vesktop
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;