# -----------------------------------------------------
# Autostart
# See https://wiki.hyprland.org/FAQ/#how-do-i-autostart-my-favorite-apps
# -----------------------------------------------------

exec-once = mako
exec-once = kanshi
exec-once = waybar
exec-once = wpaperd
exec-once = hypridle
exec-once = [silent] $discord
#exec-once = [silent] gtk-launch blueman-manager
exec-once = blueman-applet
exec-once = [workspace special:magic silent] $terminal
exec-once = udiskie

source = ~/.config/hypr/conf/autostarts/{{- .chezmoi.hostname -}}.conf
