# -----------------------------------------------------
# Autostart
# See https://wiki.hyprland.org/FAQ/#how-do-i-autostart-my-favorite-apps
# -----------------------------------------------------

exec-once = waybar
exec-once = mako
exec-once = hypridle
exec-once = hyprpaper
exec-once = waypaper --restore
exec-once = [workspace 4 silent] $discord
#exec-once = [silent] gtk-launch blueman-manager
#exec-once = [silent workspace special] kitty
exec-once = blueman-applet

source = ~/.config/hypr/conf/autostarts/{{- .chezmoi.hostname -}}.conf
