# -----------------------------------------------------
# Monitor Setup
# See https://wiki.hyprland.org/Configuring/Monitors/
# -----------------------------------------------------

monitor=,preferred,auto,auto

source = ~/.config/hypr/conf/monitors/{{- .chezmoi.hostname -}}.conf
