# -----------------------------------------------------
# Monitor Setup
# See https://wiki.hyprland.org/Configuring/Monitors/
# -----------------------------------------------------

source = ~/.config/hypr/conf/monitors/{{- .chezmoi.hostname -}}.conf

monitor = , preferred, auto, 1.2
