# -----------------------------------------------------
# Window Rules
# See https://wiki.hyprland.org/Configuring/Window-Rules/
# -----------------------------------------------------

source = ~/.config/hypr/conf/windows-{{- .chezmoi.hostname -}}.conf

windowrulev2 = suppressevent maximize, class:.* # You'll probably like this.
