# -----------------------------------------------------
# Workspaces
# See https://wiki.hyprland.org/Configuring/Workspace-Rules/
# -----------------------------------------------------

source = ~/.config/hypr/conf/workspaces/{{- .chezmoi.hostname -}}.conf
