Windows Registry Editor Version 5.00

; Add "Open with Code" to the context menu for files/directory/directory background/drive.

{{ .chezmoi.homeDir | replaceAllRegex "/" "\\\\" }}

[HKEY_CLASSES_ROOT\*\shell\VSCode]
"Icon"="C:\\Users\\mpruett\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe"
@="Open w&ith Code"

[HKEY_CLASSES_ROOT\*\shell\VSCode\command]
@="\"C:\\Users\\mpruett\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" \"%1\""

[HKEY_CLASSES_ROOT\Directory\shell\VSCode]
@="Open w&ith Code"
"Icon"="C:\\Users\\mpruett\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe"

[HKEY_CLASSES_ROOT\Directory\shell\VSCode\command]
@="\"C:\\Users\\mpruett\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" \"%V\""

[HKEY_CLASSES_ROOT\Directory\Background\shell\VSCode]
@="Open w&ith Code"
"Icon"="C:\\Users\\mpruett\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe"

[HKEY_CLASSES_ROOT\Directory\Background\shell\VSCode\command]
@="\"C:\\Users\\mpruett\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" \"%V\""

[HKEY_CLASSES_ROOT\Drive\shell\VSCode]
@="Open w&ith Code"
"Icon"="C:\\Users\\mpruett\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe"

[HKEY_CLASSES_ROOT\Drive\shell\VSCode\command]
@="\"C:\\Users\\mpruett\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" \"%V\""
